section{
    padding-top 20px;
}
#one{
    background-image: url(images/bg-one.jpg);
    background-size: 100% 150%;

}
#one h1, #one p{
    background-color: rgba(119, 136, 153, 0.623);
}
.section-head{
    text-align: center;
    padding: 4rem;
}
.section-head:after{
    display: block;
    content: "";
    width: 20%;
    height: 3px;
    background-color: tomato;
    margin: 10px auto;
}
i{
    color: tomato;
}

#three{
    background-image: url(images/bg-two.jpg);
    background-size: 100% 160%;
}
#news a{
    color: tomato;
}
footer{
    background-color: rgba(15, 22, 51, 0.911);
}
.footer-head:after{
    display: block;
    content: "";
    width: 10%;
    height: 3px;
    background-color: white;
    margin: 0.7rem 0;
}
address{
    font-style: italic;
}
footer ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
footer ul li a{
    text-decoration: none;
    color:white;
}
#copywright{
    color: rgba(255, 255, 255, 0.733);
    margin-bottom: 0;
    padding-bottom: 0;
}


/* For small screen*/

@media (max-width:400px){
    body{
        text-align: center;
    }
    .name{
        font-size: 200%;
        margin-top: 1rem;
    }
    #one h1{
        font-size: 175%;
    }
    .section-head{
        font-size: 125%;
    }
    #news{
        text-align: left;
    }
    .footer-head{
        font-size: 125%;
    }
    .footer-head:after{
        width: 25%;
        margin: 10px auto;
    }
 
}